<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head') %>
</head>
<body>
<div id="wrap">
	<header>
        <%- include('./partials/nav') %>
		<!-- //주메뉴 -->
	</header>
	<section>
		<div class="inner_wrap">
			<div class="cont_title_wrap">
				<h3>PLC 데이터 리스트</h3>
				<p><span class="location_home">홈</span><span class="location_arrow">PLC</span><span>PLC 데이터 리스트</span></p>
			</div>
		</div>
		<div class="search_wrap">
			<!-- 검색 -->
			<form action="">
				<legend>검색폼</legend>
				<fieldset>
					<div class="inner_wrap">
						<div class="search_right">	
							<input type="text" name="" id="keyword" value="" placeholder="PLC 이름을 입력해 주세요." class="search_input" />
							<a href="#" class="btn_search">조회</a>
						</div>
					</div>
				</fieldset>
			</form>	
			<!-- //검색 -->
		</div>
		<!-- 테이블 -->
		<div class="table_wrap">
			<div class="inner_wrap">
				<div class="scroll">
					<table id="plc_table" class="tb_style_01">
						<caption></caption>
						<colgroup>
							<col style="width:10%;" />
							<col style="width:10%;" />
							<col style="width:10%;" />
							<col style="width:10%;" />
							<col style="width:10%;" />
							<col style="width:auto;" />
							<col style="width:10%;" />
							<col style="width:10%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col"><input type="checkbox" name="" id=""></th>
								<th scope="col">PLC</th>
								<th scope="col">국번</th>
								<th scope="col">IP</th>
								<th scope="col">Port</th>
								<th scope="col">Payload</th>
								<th scope="col">Bit/Word</th>
								<th scope="col">Protocol</th>
							</tr>
							<% for(var i=0; i<rows.length; i++) { var row=rows[i]; %>
								<tr>
									<td><input type="checkbox" name="row[]" id="" value=""></td>
									<td><%= row.PLC%></td>
									<td><%= row.국번%></td>
									<td><%= row.IP%></td>
									<td><%= row.PORT%></td>
									<td><%= row.Payload%></td>
									<td><%= row.Bit_word%></td>
									<td><%= row.Protocol%></td>
								</tr>
							<% } %>
						</thead>
					</table>
				</div>
				
			</div>
		</div>
		<!-- //테이블 -->
	</section>
	
</div>
<%- include('./partials/footer') %>
</body>
</html>